@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #F9F5F6;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent; 
}

:root{
  --bg-color: linear-gradient(217deg, #ee6fca, rgba(255, 0, 0, 0) 70.71%), 
							linear-gradient(127deg, #67bad4, rgba(0, 255, 0, 0) 70.71%), 
							linear-gradient(336deg, #24b6e7, rgba(0, 0, 255, 0) 70.71%);
  --altura: 5rem;
}

body{
  background-color: #dbcce9;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-container{
  width: 350px;
  height: 450px;
  background: var(--bg-color);
}