@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #F9F5F6;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent; 
}

:root{
  --bg-color: linear-gradient(217deg, #F1B6E0, rgba(255, 0, 0, 0) 70.71%), 
							linear-gradient(127deg, #B3B0F8, rgba(0, 255, 0, 0) 70.71%), 
							linear-gradient(336deg, #8ADDF8, rgba(0, 0, 255, 0) 70.71%);
}

body{
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.form-container{
  width: 350px;
  height: 450px;
  background: var(--bg-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userName, .password{
  padding: .7rem 2rem .7rem 0;
  margin: 1rem;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: solid 1px white;
  font-size: 1rem;
  width: 14rem;
  transition: all .3s;
}

.titulo{
  margin-bottom: 1rem;
  user-select: none;
}

.loginBtn{
  padding: .5rem 2rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  border: solid 1px white;
  margin-top: 1rem;
  transition: all .3s;
}

.loginBtn:hover{
  transform: scale(1.1);
}

.userName::placeholder, .password::placeholder{
  color: white;
}

.userName:focus, .password:focus{
  width: 15rem;
}